.success {
    background-color: #28a745 ;
    padding: 4px 8px ;
    border-radius: 8px
}

.pending {
    background-color: #ffc107 ;
    padding: 4px 8px ;
    border-radius: 8px;
}

.list {
    padding: 10px;
}
.list li {
    margin-bottom: 20px;
}